<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
 <title>Resumes</title>
</head>
<body>
	<h1 layout:fragment="header">Resumes</h1>
	<div layout:fragment="content" class="well">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Curriculo gravado com sucesso</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Curriculo</th>
					<th>Data de cadastro</th>
					<th>Data de atualização</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${resumes.id}">123</td>
					<td id="resume" th:text="${resumes.resume}">Nome...</td>
					<td id="data" th:text="${resumes.data}">Data...</td>
					<td id="data2" th:text="${resumes.data2}">Data...</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-left">
			<a href="form.html" th:href="@{'/resumes/alterar/' + ${resumes.id}}">alterar</a>
			| <a href="resumes" th:href="@{'/resumes/remover/' + ${resumes.id}}">remover</a>
		    | <a th:href="@{/resumes/}" href="list.html">voltar</a>
		</div>
	</div>
</body>
</html>