<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
 <title>Users</title>
</head>
<body>
	<h1 layout:fragment="header">Users</h1>
	<div layout:fragment="content" class="well">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">usuario gravado com sucesso</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Senha</th>
					<th>Data de cadastro</th>
					<th>Data de atualização</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${users.id}">123</td>
					<td id="nome" th:text="${users.nome}">Nome...</td>
					<td id="email" th:text="${users.email}">Email...</td>
					<td id="senha" th:text="${users.senha}">Senha...</td>
					<td id="data" th:text="${users.data}">Data...</td>
					<td id="data" th:text="${users.data2}">Data...</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-left">
			<a href="form.html" th:href="@{'/users/alterar/' + ${users.id}}">alterar</a>
			| <a href="users" th:href="@{'/users/remover/' + ${users.id}}">remover</a>
		    | <a th:href="@{/users/}" href="list.html">voltar</a>
		</div>
	</div>
</body>
</html>