<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1 layout:fragment="header">Jobs Junior  <small>Painel de controle</small></h1>
	<div layout:fragment="content" class="container">
	 <div class="jumbotron">
	 
		<a th:href="@{/users/}" class="btn btn-lg btn-primary">Users</a>
		<a th:href="@{/resumes/}" class="btn btn-lg btn-primary">Resumes</a>
		<a th:href="@{/jobs/}" class="btn btn-lg btn-primary">Jobs</a>
		<a th:href="@{/applyings/}" class="btn btn-lg btn-primary">Applyings</a>
		
	</div>
</body>
</html>